name: Deployment (Container)
on:
  push:
    branches:
      - main
      - dev
env:
  CACHE_KEY: node-deps
  MONGODB_DB_NAME: gha-demo
jobs:
  test:
    environment: testing
    runs-on: ubuntu-latest
    
    container: 
      image: node:16

    env:
      MONGODB_CONNECTION_PROTOCOL: mongodb
      MONGODB_CLUSTER_ADDRESS: 127.0.0.1:27017  
      MONGODB_USERNAME: root
      MONGODB_PASSWORD: example
      PORT: 8080
    
    services:
      mongodb:
        image: mongo
        ports:
          - 27017:27017
        env: 
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: example

    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: docker-containers/node_modules
          key: ${{ env.CACHE_KEY }}-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: |
          cd docker-containers
          npm install
      - name: Wait for MongoDB
        run: |
          apt-get update && apt-get install -y netcat
          echo "Waiting for MongoDB to be ready..."
          for i in {1..30}; do
            if nc -z mongodb 27017; then
              echo "MongoDB is ready!"
              break
            fi
            echo "Waiting... ($i/30)"
            sleep 2
          done
      - name: Run server
        run: |
          cd docker-containers
          npm start & npx wait-on http://127.0.0.1:$PORT
      - name: Run tests
        run: |
          cd docker-containers
          npm test
      - name: Output information
        run: |
          echo "MONGODB_USERNAME: $MONGODB_USERNAME"
  
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Output information
        env:
          PORT: 3000
        run: |        
          echo "MONGODB_DB_NAME: $MONGODB_DB_NAME"
          echo "MONGODB_USERNAME: $MONGODB_USERNAME"
          echo "${{ env.PORT }}"