name: Matrix Demo
on: push
jobs:
  build:
    strategy:
      matrix:
        node-version: [14, 16]
        operating-system: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with: 
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: |
          cd exec-flow
          npm ci
      - name: Build Project
        run: |
          cd exec-flow
          npm run build